<!DOCTYPE html>
<html>
    <!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <title>{{ page.title }}</title>
		
		<link rel="shortcut icon" href="{{ site.baseurl }}/_layouts/favicon.ico" type="image/x-icon" />
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap-responsive.css">
    </head>

    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <img src="{{ site.baseurl }}media/main/cbmi.png" style="margin-left:140px; margin-right:130px">
            </ul>
            <img src="{{ site.baseurl }}media/main/chop.png" style="margin-top:5px">
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

        <div class="container">
            <div class=row-fluid>
                <div id=header class=span12>
                    {% include header.html %}
                </div>
            </div>

            <div class=row-fluid>
                <div id=navigation class=span2>
                    {% include navigation.html %}
                </div>

                <div id=content class=span10>
                    {{ content }}
                </div>
            </div>

            <div class=row-fluid>
                <div id=footer class=span12>
                    {% include footer.html %}
                </div>
            </div>
        </div>

        <script>
            if (document.querySelectorAll) {
                var list,
                    section,
                    header,
                    sections = [],
                    lists = {},
                    headers = {};

                var navUl = document.querySelectorAll('#navigation ul')[0],
                    navLis = document.querySelectorAll('#navigation ul li');

                for (var i = 0; i < navLis.length; i++) {
                    var order, li = navLis[i];

                    if (li.classList.contains('nav-header')) {
                        section = li.innerText;
                        sections.push(section);
                        headers[section] = li;
                        continue;
                    }

                    if (!lists[section]) {
                        lists[section] = [];
                    }

                    order = parseFloat(li.getAttribute('data-order'))
                    lists[section].push([order, li]);
                }

                for (var i = 0; i < sections.length; i++) {
                    section = sections[i];
                    list = lists[section].sort();

                    if (header = headers[section]) {
                        navUl.appendChild(header);
                    }
                    for (var j = 0; j < list.length; j++) {
                        navUl.appendChild(list[j][1]);
                    }
                }
            }
        </script>
    </body>
</html>
